body{
    margin: 0;
    padding: 0;
    font-family:'nunito';
    overflow-x: hiddengit bra;
  
  
}
button{
    background-color: #EC4067;
    color:white;
    border: none;
    border-radius: 16px 0;
    font-size: 20px;
    padding: 10px;
}
h4{
    color: #EC4067;
}

nav{
    display: block;
    padding: 10px;
    margin: 20px;
    height: ;
}
nav h1{
    font-size: xx-large;
}
nav h1 span{
    color: #EC4067;
}
nav ul{
    
    list-style-type: none;
    float: right;
}
nav ul li{
    display: inline;
    padding-top:50px;  
    font-size: 20px;

}
nav ul li a :hover{
color:blueviolet
}
.flex-container{
    display: flex;
    margin: 40px;



}
.flex-container div{
    
    flex-direction: column;
    margin: 40px;
     flex: 1;
    
     
}
.context{
 justify-content: center;v
 margin: 20px;
    float: left;
    
}
.flex-container h2{
    color: #EC4067;
}
.btn{
    background-color: white;
    color: black;
    border: 1px solid;
}

main img{
    float: right;
}
.heading p strong{
    font-size: 40px;
}
.context-story{
    padding-top: 300px;
    padding-left:500px;
    float: right;
    
}
section p strong{
    font-size: 30px;
}
.flex-mentors{
 display: flex;
 margin: 30px;
 
}
.flex-mentors div{
    padding: 30px;
}
.mentor{
   flex-wrap: wrap;

}
.words{
    position: absolute;
    top:350px;
    padding-left:170px;
}
.words h2{
  color: white;
}
.karimi{
    position: absolute;
    top: 320px;
    padding-left:170px;
}
.karimi h2{
    color:white;
}
.karimi{
    display: flex;
  
  
}
.karimi div{
padding-left: 30px;
}
.footer h2{
    color:#EC4067
} 
.footer p span{
    color: #EC4067;
}   

